*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wrap {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.wrap section {
    align-self: center;
    margin:20px 0;
}
.input-group>.input-group-prepend {
    flex: 0 0 40%;
}
.input-group .input-group-text {
    width: 100%;
}
#image {
    max-width: 800px;
    max-height: 600px;
    border-style: solid;
}