.wrap {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap section {
  align-self: center;
  margin:20px 0;
}
.input-group>.input-group-prepend {
  flex: 0 0 40%;
}
.input-group .input-group-text {
  width: 100%;
}
#image {
  max-width: 800px;
  max-height: 600px;
  border-style: solid;
}

.not-valid {
  border-color: red !important;
}
input, textarea {
  width: 200px !important;
}
#loginform {
  width: 500px;
}
.error {
  color: red;
}